CompileFlags:
    Add:
    - -std=c++20
    - -Wall
    - --cuda-gpu-arch=sm_61
    CompilationDatabase: out/build/x64-debug-linux/
    Remove:
      - -forward-unknown-to-host-compiler
      - --generate-code*