CompileFlags:
    Add:
    - -std=c++20
    - -Wall
    #- -gencode arch=compute_61,code=sm_61
    #- --cuda-gpu-arch=sm_61
    - --cuda-host-only
    CompilationDatabase: out/build/x64-debug-linux/
    Remove:
      - -forward-unknown-to-host-compiler
     # - --generate-code*
      