[submodule "external/minorminer"]
	path = external/minorminer
	url = git@github.com:Willu12/minorminer.git
[submodule "external/nauty"]
	path = external/nauty
	url = https://github.com/schemanoise/Nauty_and_Traces.git
